
/*IE-9 Based Styling*/


.container {
	background: #e3e3e3 none repeat scroll 0 0;
	//border: 1px solid red;
	height: auto;
	overflow: hidden;
}
header {
	height: auto;
	position: relative;
}
.navHeader {
	background: #ec1661 none repeat scroll 0 0;
	display: block;
	height: 40px;
}
.menuIconAlign {
	float: left;
	height: 35px;
	margin-left: 8%;
	margin-top: 1%;
	overflow: hidden;
}
#barIconClick {
	cursor: pointer;
	display: block;
}
#closeIconClick {
	cursor: pointer;
	display: none;
}
.navHeading {
	color: #fff;
	float: left;
	font-family: "Roboto",sans-serif;
	font-size: 19px;
	font-weight: bold;
	margin-left: 7%;
	margin-top: 3%;
}
.menu {
	background: #fff none repeat scroll 0 0;
	display: none;
	position: absolute;
	width: 100%;
	z-index: 100;
}
.menuItems li {
	border-bottom: 1px solid;
	list-style-type: none;
	padding: 4%;
}
.textAlign {
	font-family: "Roboto",sans-serif;
	margin-left: 7%;
}
.content {
	//border: 1px solid black;
	height: auto;
	margin: 1%;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.contentColumnIntro {
	display: block;
}
.welcomeNoteContent {
	background: #fff none repeat scroll 0 0;
	height: auto;
	margin: 1%;
	width: 98%;
}
.welcomenoteHeading {
	color: #ec1661;
	font-family: "Roboto",sans-serif;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 7%;
	margin-left: 7%;
	padding-top: 5%;
}
.welcomenotePara {
	margin-bottom: 1%;
}
.welcomeparaInfo {
	font-family: "Roboto",sans-serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 23px;
	margin-left: 7%;
}
.conditionalStatement {
	border-top: 1px solid #eeeeee;
	font-family: "Roboto",sans-serif;
	padding-bottom: 13px;
	padding-top: 3%;
	position: relative;
	z-index: 20;
}
.conditionalNo {
	cursor: pointer;
	font-family: "Roboto",sans-serif;
	font-weight: bold;
	margin-left: 7%;
	margin-right: 12%;
}
.conditionalYes {
	color: #fec676;
	cursor: pointer;
	font-family: "Roboto",sans-serif;
	font-weight: bold;
}
.specificContentBooks {
	//border: 1px solid black;
	height: auto;
	margin: 1%;
	overflow: hidden;
	position: relative;
}
.explorationContentBooks {
	//background: #fff none repeat scroll 0 0;
	display: block;
	height: auto;
	margin: 1%;
}
.clear {
	clear: both;
}
.formDatadisp {
	background: #ec1661 none repeat scroll 0 0;
	border: 1px solid #000;
	display: none;
	height: 150px;
	margin-left: 5%;
	position: absolute;
	top: 2px;
	width: 90%;
	z-index: 50;
}
.formInputAlign {
	margin-top: -3px;
}
.formInputAlign li {
	line-height: 34px;
	list-style-type: none;
}
#bookId {
	width: 53%;
	
}
#authorId {
	width: 53%;
	
}
#formCloseIconAlign {
	cursor: pointer;
	display: block;
	float: right;
}
#formSubmit {
	border: 1px solid black;
	border-radius: 6%;
	cursor: pointer;
	float: right;
	height: 23px;
	margin-right: 9px;
	margin-top: 6%;
	width: 34%;
}
.contentAnimals {
	border: 1px solid #fff;
	height: auto;
	margin-bottom: 6px;
	overflow: hidden;
}
.animalsImage {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #251B28;
	display: inline-block;
	float: left;
	height: 128px;
	width: 98px;
}
.animalInfo {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #fff;
	display: inline-block;
	float: left;
	height: 128px;
	width: 63%;
}
.contentTravel {
	border: 1px solid #fff;
	height: auto;
	overflow: hidden;
}
.travelImage {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #251B28;
	display: inline-block;
	float: left;
	height: 128px;
	width: 98px;
}
.travelInfo {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #fff;
	display: inline-block;
	float: left;
	height: 128px;
	width:63%;
}
.pulldataDisp {
	height: 95px;
	overflow: hidden;
	width: 100%;
}
.bookInfo{
	color: #212121;
	font-family: "Roboto",sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 2%;
	margin-left: 11%;
	margin-top: 17%
}
.linker{
	font-family: "Roboto",sans-serif;
	color: #989898;
	font-size: 14px;
	margin-left: 11%;
}
.authorInfo{
	font-family: "Roboto",sans-serif;
	color: #989898;
	display: inline;
	font-size: 14px;

}
.reviewInfo {
	border-top: 1px solid #eee;
	padding-top: 11px;
}
.freeSample {
	cursor: pointer;
	font-family: "Roboto",sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin-left: 19px;
	margin-right: 12%;
}
.freeSampler{
	cursor: pointer;
	font-family: "Roboto",sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin-left: 19px;
	margin-right: 12%;


}
.Review {
	color: #ffac30;
	cursor: pointer;
	font-family: "Roboto",sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.Reviewer{

	color: #ffac30;
	cursor: pointer;
	font-family: "Roboto",sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.explorerBasedData{

	background: #fff none repeat scroll 0 0;
	border: 1px solid #fff;
	height: auto;
	overflow: hidden;
	width: 100%;
}
.explorationImage{
	background: url('../images/hutimages.jpg');
	height: 123px;
	background-repeat: no-repeat;
	margin-bottom: 12px;width:100%;


}
.explorationText{
	position: relative;
	top: 73%;
	color: #fff;
	font-family: "Roboto",sans-serif;
	font-size: 20px;
	float: left;
	margin-left: 19px;

}
.volume{

	color: #a6a6a6;
	display: block;
	font-family: "Roboto",sans-serif;
	font-size: 15px;
	margin-bottom: 5px;
	margin-left: 23px;

}
.infoLay{
	color: #6d6d6d;
	font-family: "Roboto",sans-serif;
	font-size: 15px;
	line-height: 20px;
	margin-left: 22px;

}
.reviewInfoExplore{
	border-top: 1px solid #eee;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-top: 19px;


}
#error{

	color:yellow;
	font-family: "Roboto",sans-serif;
	font-size: 12px;


}
#newformData{
	display: none;
	background:#fff;
	border: 1px solid #fff;
	height: auto;
	overflow: hidden;
	width: 100%;
	padding-bottom:12px;  
	



}
#dataOutputA{
	color: #212121;
	font-family: "Roboto",sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 2%;
	margin-left: 10%;
	margin-top: 10%;

}

#dataOutputB{
	font-family: "Roboto",sans-serif;
	color: #989898;
	display: inline;
	font-size: 14px;
	padding-bottom:4px;

}
#finalFormImage{

	width:40px;
	height:30px;
	border:1px solid black;
	border-radius:3px; 
	float:right;

}
.linkerL{
	margin-left: 10%;
}
@media only screen and (min-width: 480px) {
	.navHeading {
		margin-left: 3%;
		margin-top: 2%;
	}
	.welcomenoteHeading {
		margin-bottom: 3%;
		padding-top: 3%;
	}

	.animalInfo {
		width: 75%;
		padding-right:5px;
	}
	.bookInfo {
		margin-top: 10%;

	}
	.freeSample{

		margin-left: 42px;
		margin-right: 9%;
	}
	.freeSampler{


	}
	.Reviewer{


		
	}
	.travelInfo{

		width:75%;
		padding-right:5px;

	}
	.explorationImage {
		background-size: cover;
		margin-bottom: 12px;

	}
	#dataOutputA{
		margin-left:7%;

	}
	.linkerL{
		margin-left: 7%;

	}
}	
@media only screen and (min-width: 1024px) {
	#barIconClick {
		display: none;
	}
	#closeIconClick {
		display: none;
	}
	.navHeading {
		margin-top: 1%;
	}
	#menuDisplay {
		display: block;
		height: 44px;
		margin-top: 0;
		overflow: hidden;
		position: relative;
		width: 100%;
		z-index: 0;
	}
	.menuItems {
		display: block;
		margin-left: 26px;
		margin-top: 13px;
		width: 100%;
	}
	.menuItems li {
		border-style: none;
		float: left;
		padding: 0 6% 0 0;
	}
	.textAlign {
		width: 100%;
	}
	.content {
		//border: 1px solid black;
		height: auto;
		margin: 0;
		overflow: hidden;
		position: relative;
		z-index: 1;
	}
	.contentColumnIntro {
		//border: 1px solid black;
		display: inline-block;
		float: left;
		margin-top: 0;
		width: 45%;
	}
	.explorationContentBooks {
		//border: 1px solid black;
		display: inline-block;
		float: left;
		padding-right: 6px;
		margin-top: 5px;
		width: 52%;
	}
	.explorerBasedData{
		padding-right: 5px;


	}
	.explorationText {
		font-size: 24px;
		margin-left: 31px;
	}
	.explorationImage{

		width:101%;


	}
	.animalsImage {
		width: 123px;
	}
	.animalInfo {
		background: #fff none repeat scroll 0 0;
		border: 1px solid #fff;
		display: inline-block;
		float: left;
		height: 128px;
		width:76%;
		padding-right:5px;
	}
	.travelImage {
		height: 128px;
		width: 98px;
	}
	.travelInfo {
		background: #fff none repeat scroll 0 0;
		border: 1px solid #fff;
		display: inline-block;
		float: left;
		height: 128px;
		width:76%;
		padding-right:5px;
	}
	#dataOutputA{
		margin-left:6%;
		margin-top:5%;
	}
	.linkerL{


	}
}
@media only screen and (min-width:1280px){
	.animalInfo {
		width:80%;
		padding-right:10px;
	}
	.travelInfo{

		width:80%;
		padding-right:10px;

	}
	.freeSample {
		margin-left: 52px;
	}
	.freeSampler {
		margin-left: 28px;
	}


	#dataOutputA{
		margin-left: 6%;
		margin-top:5%;

	}
	.linkerL{

		
	}


}