@mixin carouselAlign{
	width:100%;
	background:#eee;
	height:426px;
	padding-top:52px;
	
	.carouselDisplay{
		
		width:292px;
		height:287px;
		background:#a6a6a6;
		text-align:center;
		color:black;
		overflow:hidden;




	}

}