@mixin headerSection{
	width:100%;
	height:56px;
	box-sizing: border-box;
	background:#fff;
	overflow:hidden;
	nav.navprop{	
		.LogoImageAlign{
			height: 31px;
			width: 174px;
			display: block;
			margin: 0 auto;
			margin-top: 11px;
			margin-bottom: 13px;
		}



	}



}